:root{
  --app-white: #f3f4f6;
  --app-pink: #BE185D;
  --app-orange: #ef4444;
  --app-dark: #002333;
  --app-green: #149A9B;
  --app-light-green: #DEEFE7;
  --app-gray: #B4BEC8;
  --app-light-gray: #F1F1F1;

  --max-width: 1300px;
  --min-height: 100vh;
}

body{
  background-color: var(--app-white);
}

.App{
  /* max-width: var(--max-width); */
  /* height: 100vh; */
  min-height: var(--min-height);
  flex: 1;
  color: var(--app-dark);
  /* background-color: aquamarine; */
  display: flex;
}

.App-outer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--app-white);
}


.Dashboard {
  /* display: grid;
     background-color: aqua;
  /* grid-template-columns: 15vw auto; */
}
.Sidebar-Outer {
  /* position: fixed;
  width: 15vw;
  height: 100vh; */
}
.Dashboard-Page {
  /* grid-column-start: 2;
  background: pink; */
  
}
